body {
    background-image: url('../image/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.menu {
    background-color: #95B98E !important;
}

.navbar-nav .nav-link {
    font-size: 1.6em;
    margin: 0 15px;
    color: beige !important;
    font-weight: bold;
}

.navbar-nav {
    margin-left: 40px;
}

.navbar-text {
    color: #364632 !important;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.compteur {
    font-size: 20px;
    float: right;
    margin-left: 10%;
    color: #3b280b;
}

#compteur {
    font-weight: bold;
}


html {
    background-color: #c9b8a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d1bca1;
}



header .logo {
    font-size: 24px;
}


nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


/* Structure principale */
.container {
    padding: 20px;
}



.carousel {
    position: relative;
    width: 50%;
    float: left;
}


.carousel img {
    width: 50%;
    border-radius: 8px;
}


.prev, .next {
    position: absolute;
    top: 50%;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.map {
    float: right;
}

.prev {
    left: 10px;
}


.next {
    right: 10px;
}


/* Table des détails */
.details {
    width: 100%;
    text-align: left;
    margin-top: 450px;
}


.details table {
    color: rgba(241, 242, 217, 0.99);
    margin-top: 20px;
}


.details td {
    size: 60;
    padding: 5px;
    width: 125px;
}


.details .icon {
    font-size: 1.5em;
}


.icon.wifi {
    width: 25%;
}


.icon.no-pets {
width: 40%;
}

main {
    background-color: #c9b8a0;
}

.presentation {
    margin-top: 40px;
    color: rgba(241, 242, 217, 0.99);
}

footer {
    background-color: #95b98e;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer a {
    color: beige !important;
    font-size: 20px;
}

.footer-custom {
    background-color: #9dbb95 !important;
    color: beige;
    padding: 10px;
}
.footer-custom .legal {
    font-size: 25px;
}

.legal {
    text-align: center !important;

}
.footer-custom .social-icons {
    font-size: 25px;
}
.footer-custom .social-icons a {
    color: beige;
    margin-left: 25px;
}