body {
    background-image: url('../image/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.menu {
    background-color: #95B98E !important;
}

.navbar-nav .nav-link {
    font-size: 1.6em;
    margin: 0 15px;
    color: beige !important;
    font-weight: bold;
}

.navbar-nav {
    margin-left: 40px;
}

.navbar-text {
    color: #364632 !important;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.compteur {
    font-size: 20px;
    float: right;
    margin-left: 10%;
    color: #3b280b;
}

#compteur {
    font-weight: bold;
}

header {
    background-color: #95B98E;
    color: beige;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}


nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}


main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

form button:hover {
    background-color: #4cae4c;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #c9b8a0;
    border-radius: 5px;
}

legend {
    margin-bottom: 10px;
    font-size: 1.1em;
}


form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form div input[type="checkbox"],
form div input[type="radio"] {
    margin-right: 10px;
    width: auto; 
}

footer {
    background-color: #95b98e;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer a {
    color: beige !important;
    font-size: 20px;
}

.footer-custom {
    background-color: #9dbb95 !important;
    color: beige;
    padding: 10px;
}
.footer-custom .legal {
    font-size: 25px;
}

.legal {
    text-align: center !important;

}
.footer-custom .social-icons {
    font-size: 25px;
}
.footer-custom .social-icons a {
    color: beige;
    margin-left: 25px;
}